<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>Test Guru</h1>
    </nav> <br>

    <%= yield %>
    <footer>
    
      Евгений Булавин, <%= current_year %> <br>
      <%= github_link(:bulgakke, :test_guru) %> <br>
      <%= thinknetica %> <br>
    </footer>
  </body>
</html>
